.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-bg-color);
}

.address {
  display: block;
  width: 231px;
  margin-top: 20px;
}

.address .text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--white-color);
}

.address-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-link-color);
}

.address-list > .item {
  padding-top: 9px;
}

/* footer-social */
.footer .container {
  display: flex;
  align-items: baseline;
}

.container-address {
  width: 231px;
}

.container-social {
  width: 206px;
  margin-left: 70px;
  align-items: flex-start;
}

.footer-social-text,
.footer-form-text {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-icon {
  fill: var(--white-color);
}

.container-footer-form {
  width: 570px;
  margin-left: 93px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.footer-form-input {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form-icon {
  margin-left: 10px;
}
