.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.site-nav__item + .site-nav__item,
.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;

  &__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
