:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-color: #ffffff;
    --modal-bg-color: #ffffff;
    --hero-bg-color: #2f303a;
    --section-second-color: #f5f4fa;
    --address-link-color: rgba(255, 255, 255, 0.6);
}
